<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/jpg' href='/public/images/favicon.jpeg' />
    <title>Tra cứu biển số xe</title>
    <link rel='stylesheet' href='/public/style.css' />
    <script
      src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'
    ></script>
  </head>
  <body>
    <img src='../public/images/favicon.jpeg' alt='Avatar' class='avatar' />
    <section>
      <div class='s129'>
        <div class='form'>
          <div class='inner-form'>
            <div class='input-field'>
              <button id='btn-search' type='button'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                >
                  <path
                    d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'
                  ></path>
                </svg>
              </button>
              <input
                id='search'
                type='text'
                placeholder='Nhập biển số cần tra cứu'
                autocomplete='off'
              />
            </div>
          </div>
          <div id='error'></div>
        </div>

      </div>
      <div>
        <h1 class='title-list'>Danh sách biển số xe 63 tỉnh thành</h1>
        <div class='province-card'>
          {{#each data}}
            <div id='{{id}}' class='card' data-code='{{codes}}'>
              <div class='card-header'>{{name}}</div>
              <div class='card-main'>
                <div class='main-description'>{{codes}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  </body>
</html>
<script type='text/javascript' src='../public/index.js'></script>